@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #030712;
    --foreground: #f8fafc;
    --accent: #34d399;
    --accent-strong: #00c26f;
    --card: rgba(15, 23, 42, 0.5);
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
  }
}
